@font-face {
  font-family: 'Remixica';
  font-weight: 400 500;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Medium';
  src: url(/fonts/HelveticaRemix-Medium.woff2) format("woff2");
}
@font-face {
  font-family: 'Remixica';
  font-weight: 600 700;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Bold';
  src: url(/fonts/HelveticaRemix-Bold.woff2) format("woff2");
}
@font-face {
  font-family: 'Remixica';
  font-weight: 800;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Extra Bold';
  src: url(/fonts/HelveticaRemix-ExtraBold.woff2) format("woff2");
}
:root {
  --border-radius: 4px;
  --color-bg: #000;
  --color-text: #fff;
  --color-primary: #4c0e17;
  --font-sans: 'Remixica', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-serif: "Times New Roman";
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --font-lg: 18px;
  --font-md: 16px;
  --font-sm: 14px;
  --font-sx: 12px;
  --line-height-loose: 1.75;
  --line-height-normal: 1.5;
  --line-height-dense: 0.92;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 64px;
  --size-content: 54rem;
  --size-gutter: var(--space-5);
  --size-gap: var(--space-6);
}
html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: sans-serif;
  font-size: var(--font-md);
  line-height: var(--line-height-normal);
  overflow-y: scroll;
  background: var(--color-bg);
  height: 100%;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  font-family: sans-serif;
  font-family: var(--font-sans);
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
}
header {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  z-index: 9999;
}
.view {
  display: flex;
}
.view > div {
  width: 50%;
}
.view:first-child {
  padding: 60px;
}
.visualizer {
  background-color: var(--color-primary);
}
.visualizer > .gatsby-image-wrapper {
  position: fixed !important;
  height: 100vh;
}
.section-header {
  margin-bottom: 20px
}
.hero {
  width: 658px;
  /* padding: 0 43px; */
  margin: 6em auto 21em;
  position: relative;
}
.content {
  margin: 60px;
}
.mission,.artists,.organizations,.tickets,.partners {
  margin-bottom: 20em;
}
.mission,.artists {
  margin-left: 20px;
  margin-right: 20px;
}
.organizations > .section-header, .organizations > .section-header {
  margin-left: 20px;
}
.lineup {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}
.lineup > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.lineup-h1 {
  font-size: 50px;
  font-weight: 800;
}
.lineup-h2 {
  font-size: 32px;
  font-weight: 800;
}
.lineup-h3 {
  font-size: 24px;
  font-weight: 800;
}
.lineup a:hover {
  animation: underline 0.8s infinite both;
}
@keyframes underline {
  0% { text-decoration:underline; }
  49% { text-decoration:underline; }
  50% { text-decoration:none; }
  100% { text-decoration:none; }
}  
.lineup-title {
  margin: 0 auto 10px;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}
.organizations-container {
  display: flex;
  position: relative;
  width: 47vw;
  left: calc(-23.5vw + 50%);
}
.organizations-container > a {
  margin: 0 7px;
}
.organizations-card {
  border: 1px solid #FFFFFF;
  background-color: #000000;
  /* width: 238px; */
  height: fit-content;
  padding: 30px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease;
  transform: translate(0px, 0px);
  box-shadow: 0px 0px 0 rgba(255,255,255,0);
}

.organizations-card:hover {
  background-color: #262626;
  transform:translate(-2px, -2px);
  box-shadow: 2px 2px 0 rgba(255,255,255,255);
}
.organizations-container > a:first-of-type {
  margin-left: 0;
}
.organizations-container > a:last-of-type {
  margin-right: 0;
}
.organizations-card > div > p {
  font-size: 14px;
}
.organization-image {
  margin-bottom: 12px; 
}
.tickets-features {
  display: flex;
  justify-content: space-between;
}
.mission ul {
  font-weight: 800;
  font-size: 1.7em;
  margin-top: 1em;
  margin-bottom: 1.5em;
}
.mission a {
  text-decoration: underline;
}
.tickets {
  height: 555px;
}
.tickets-features > ul {
  width: 50%;
}
.hero-image-0 {
  z-index: -1;
  position: absolute !important;
  top: 8.75em;
  left: -2.5em;
}
.hero-image-1 {
  z-index: -1;
  position: absolute !important;
  top: 30em;
  right: -2.5em;
}
.hero-eyebrow {
  text-align: center;
  font-size: 24px;
  letter-spacing: -0.06em;
  font-family: var(--font-serif);
}
.hero-caption {
  font-size: 28px;
  font-weight: bold;
}
.hero-caption:last-of-type {
  margin-top: 7.3em;
  text-align: right;
}
.button {
  border: 1px solid #FFFFFF;
  font-size: 32px;
  font-weight: 500;
  padding: 40px 50px;
  width: 100%;
  display: flex;
  transition: all 0.2s ease;
  transform: translate(0px, 0px);
  box-shadow: 0px 0px 0 rgba(255,255,255,0);
}
.button:hover {
  background-color: #262626;
  transform:translate(-2px, -2px);
  box-shadow: 2px 2px 0 rgba(255,255,255,255);
}
.link-button {
  font-size: 17px;
  text-decoration: underline;
  padding: 10px 0;
  transition: all 0.5s ease;
  border-radius: 4px;
  cursor: pointer;
}
.link-button:hover {
  margin-right: 8px;
  padding: 10px 12px;
  margin-left: -12px;
  background: #262626;
}
a {
  background-color: transparent;
  color: var(--color-text);
  text-decoration: none;
  /* text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px; */
}
a:active,
a:hover {
  outline-width: 0;
  text-decoration: none;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin: 0;
  margin-bottom: 85px;
  padding: 0;
  font-size: 91px;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  line-height: var(--line-height-dense);
  letter-spacing: -0.03em;
}
h1 > b {
  color: var(--color-primary);
}
h2 {
  font-size: 29px;
  margin: 0;
  margin-bottom: 30px;
  font-weight: 800;
  line-height: 1.4em;
}
h3 {
  font-size: 24px;
  font-weight: 800;
  margin: 0 0 13px;
}
h3 a {
  text-decoration: underline;
}
p {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 0;
}
img {
  border-style: none;
  max-width: 100%;
}
code,
kbd,
pre,
samp {
  font-family: var(--font-mono);
  font-size: 1em;
  line-height: inherit;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  margin-bottom: calc(var(--space-4) - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
hgroup,
img,
figure,
fieldset,
ul,
ol,
dl,
dd,
p {
  margin: 0;
  padding: 0;
}
ul,
ol {
  margin-left: var(--space-4);
  list-style-position: outside;
  list-style-image: none;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: var(--space-4);
  font-size: 0.875rem;
  line-height: var(--line-height-normal);
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: var(--border-radius);
  overflow: auto;
  word-wrap: normal;
  padding: var(--space-4);
}
b,
strong,
dt,
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(var(--space-4) / 2);
}
ol li,
ul li {
  padding-left: 0;
}
li > ol,
li > ul {
  margin-bottom: calc(var(--space-4) / 2);
  margin-left: var(--space-4);
  margin-top: calc(var(--space-4) / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(var(--space-4) / 2);
}
ul {
  margin-top: 1em;
  font-size: 24px;
  font-weight: 500;
}
ul > li {
  margin-bottom: 0.5em;
}
p {
  max-width: 680px;
}
code {
  font-size: 0.875rem;
}
kbd {
  font-size: 0.875rem;
}
samp {
  font-size: 0.875rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
tt,
code {
  background-color: var(--color-code-bg);
  border-radius: var(--border-radius);
  color: var(--color-code);
  font-family: var(--font-mono);
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  word-break: normal;
}
pre code {
  background: none;
}
code:before,
code:after,
tt:before,
tt:after {
  content: "\00a0";
  letter-spacing: -0.2em;
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: none;
}
@media(max-width: 1370px) {
  html {
    overflow-x: hidden;
  }
  .organizations-container {
    flex-direction: column;
    width: 100%;
    position: initial;
    left: 0;
  }
  .organizations-card {
    /* flex-direction: row; */
  }
  .organizations-container > a {
    margin: 0 0 7px;
  }
  /* .organization-image {
    max-height: 200px !important;
    max-width: 75px !important;
    margin-right: 30px;
    margin-bottom: 0;
  } */
  .button {
    font-size: 2em;
    width: 100%;
    /* margin: 0 20px; */
  }
  .visualizer {
    display:none; 
  }
  .content {
    margin: 0;
    width: 100vw
  }
  .hero {
    width: 100%;
  }
  .organizations, .tickets {
    padding: 0 20px;
  }

  .organizations > .section-header {
    margin-left: 0;
  }
  .view {
    display: flex;
    flex-direction: column;
  }
  .view > div {
    width: initial;
  }
  header div {
    font-size: 18px !important;
    text-align:center;
  }
  h1 {
    margin: 0 auto;
    margin-bottom: 8.9vw;
    padding: 0;
    font-size: max(51px, 12vw);
    /* width: min(80vw, 658px); */
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    line-height: var(--line-height-dense);
    letter-spacing: -0.03em;
  }
  h2 {
    font-size: 29px;
    margin: 0;
    margin-bottom: 30px;
    font-weight: 800;
    line-height: 1.4em;
  }
  h3 {
    font-size: 24px;
    font-weight: 800;
    margin: 0 0 13px;
  }
  p {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0;
  }
  .lineup-h1 {
    font-size: 50px;
    font-weight: 800;
  }
  .lineup-h2 {
    font-size: 32px;
    font-weight: 800;
  }
  .lineup-h3 {
    font-size: 24px;
    font-weight: 800;
  }
  .lineup-title {
    margin: 0 auto 10px;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
  }
  .hero-eyebrow {
    text-align: center;
    font-size: max(18px,2vw);
    letter-spacing: -0.06em;
    font-family: var(--font-serif);
  }
  .hero-caption {
    /* font-size: max(3vw, 17px); */
    font-size: 3vw;
    font-weight: bold;
    width: min(69vw, 68%);
    margin: 0 auto;
  }
  .hero-caption:last-of-type {
    margin-top: 20.5vw;
    text-align: right;
  }
  .hero-image-0 {
    z-index: -1;
    position: absolute !important;
    top: 25vw;
    width: 100%;
    max-width: 66vw;
    left: 8vw;
  }
  .hero-image-1 {
    z-index: -1;
    position: absolute !important;
    top: 60vw;
    width: 100%;
    max-width: 37vw;
    right: 9vw;
  }
  /* .hero-image-0 {
    z-index: -1;
    position: absolute !important;
    top: 8.75em;
    left: -2.5em;
  }
  .hero-image-1 {
    z-index: -1;
    position: absolute !important;
    top: 30em;
    right: -2.5em;
  } */
}
@media(max-width: 915px) {
  .lineup > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 3.2vw;
  }
  /* .lineup-h1 {
    font-size: 5.5vw;
    font-weight: 800;
  }
  .lineup-h2 {
    font-size: 3.5vw;
    font-weight: 800;
  }
  .lineup-h3 {
    font-size: 2.5vw;
    font-weight: 800;
  } */
  .lineup-title {
    margin: 0 auto 10px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: left;
  }
  .lineup a {
    text-decoration: underline;
  }
}

@media(max-width: 500px) {
  header {
    align-items: flex-start;
  }
  header > div {
    white-space: pre-wrap;
  }
  .hero {
    margin-top: calc(50vh - 210px);
    /* position: relative; */
    /* top: 50%; */
    /* transform: translateY(-50%); */
  }
}